apt-listchanges==4.8
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.2
gyp-next==0.16.2
idna==3.10
packaging==25.0
pip==25.1.1
PyGObject==3.50.0
python-apt==3.0.0
python-debian==1.0.1
python-debianbts==4.1.1
reportbug==13.2.0
requests==2.32.3
urllib3==2.3.0
wheel==0.46.1
